:root{
    --dark :#374151;
    --darker :#1f2937; 
    --darkest :#111827;
    --gray : #7a869a;
    --light :#eee;
    --pink : pink;
    --purple : purple;
}
*{
    box-sizing: border-box;
    margin: 0 ;
    font-family: 'Fira sans', Tahoma, Geneva, Verdana, sans-serif;


}
body{
    display: flex; 
    flex-direction: column;
    min-height: 100vh;
    background: var(--dark);
    color: white;
}
header{
    padding: 20px,10px;
    min-width: 800px;
    width: 100%;
    margin: 0 auto;

}
header h1{
    font-style: 20px;
    font-weight: 100;
    margin-bottom: 10px;
    color: var(--gray   );
}
#new-task-form{
    display: flex;

}
input, button{
    appearance: none;
    border: none;
    outline: none ;
    background: none;
}
#new-task-input{
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
    color: var(--light);
    font-size: 100;
}
#new-task-input::placeholder{
    color: var(--gray);
}
#new-task-submit{
    color: var(--pink );
    font-size: 14px;
    font-weight:  700;
    background-image:linear-gradient(to right, var(--pink),var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}
#new-task-submit:hover{
    opacity: 0.8;
};
.task-list{
    padding: 10px;
}
main{
    flex: 1 1 0%;
    padding: 20px ,10px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto  ;
}
.content{
    flex: 1 1 0%;
}
.task-list h2 {
    font-size: 15px;
    font-weight: 300;
    color: var(--gray); 
    margin-bottom: 10px;
}
.task{
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;

}
.text{
    color: var(--light) !important;
    font-style: 18px;
    width: 100%;
    display: block;
    transition: 0.4s;
}
.text:not(:read-only){
    color: var(--pink);
}
.action{
    display: flex;
    margin: 0  5px;
}
.actions button {
    cursor: pointer;
    margin: 0  5px;
    font-size:12px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}
.edit{
    background-image:linear-gradient(to right, var(--pink),var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.delete{
    color: crimson;
}

